@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.w-85 {
    width: 85% !important;
}

.w-65 {
    width: 65% !important;
}

.w-35 {
    width: 35% !important;
}

.w-15 {
    width: 15% !important;
}

.w-5 {
    width: 5% !important;
}

.btn-cancel {
    background-color: #d6d6d6 !important;
    color: #212529; !important;
    font-weight: bold;
}

.btn-confirm {
    background-color: #F3A81C !important;
    color: #212529 !important;
    font-weight: bold;
}

.bg-color-default {
    background-color: #E7EDF5 !important;
}

input {
    padding: 10px !important;
    /*text-align: center;*/
}

body {
    font-family: "Lexend", sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

i {
    height: 10px;
    width: auto;
}

header, footer {
    background-color: #212529;
}

.page-link {
    background-color: #F3A81C;
    color: #333333;
}

.page-link:hover {
    background-color: #fbbf24;
    color: #000000;
}

.page-item.active .page-link {
    background-color: #d48806;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #d48806;
}


.page-item.disabled .page-link {
    background-color: #e0e0e0;
    color: #999999;
}

.toast {
    z-index: 99999 !important;
}

.trash-btn {
    z-index: 999999 !important;
}