td:last-child, th:last-child {
    border: none;
}
td, th {
    border-right: 1px solid #a6a6a6;
    text-align: center;
}


.page-link {
    background-color: #F3A81C;
    color: #333333;
}

.page-link:hover {
    background-color: #fbbf24;
    color: #000000;
}

.page-item.active .page-link {
    background-color: #d48806;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #d48806;
}


.page-item.disabled .page-link {
    background-color: #e0e0e0;
    color: #999999;
}
