@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.w-85 {
    width: 85% !important;
}

.w-35 {
    width: 35% !important;
}

.w-15 {
    width: 15% !important;
}

.w-5 {
    width: 5% !important;
}

.bg-color-default {
    background-color: #E7EDF5 !important;
}

input {
    padding: 10px !important;
    /*text-align: center;*/
}

body {
    font-family: "Lexend", sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

i {
    height: 10px;
    width: auto;
}

header, footer {
    background-color: #212529;
}

.page {
    color: #333333;
}

.page .page-link {
    background-color: #F3A81C;
    color: #333333;
}